.Mainpage {
    text-align: center;
}

.Mainpage-header {
  background-color: #dede3b;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(40px + 5vmin);
  color: white;
  cursor: default;
}